@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Joan&family=Nunito+Sans:wght@300&family=Poppins:wght@400;900&family=Play&family=Quicksand:wght@500&display=swap');

:root{
  --main-col:#ff003d;
  --main-col1:rgba(255, 0, 60, 0.5);
  --main-colo:#f8567c;
  --main-colo-red:#f8567ce9;
  --main-header-red:#dc3545;
  --title-colo:#f8bf56;
  --title-col-yellow:#f8f356;
  --footer-bg:#80808073;
  --bl:rgb(27, 27, 27);
  --colour-blue:#001AFF;
  --col-blue:#4200FF;
  --primary:#2196f3;
  --poppins:'Poppins', sans-serif;
  --quicksand:'Quicksand', sans-serif;
  --nunito:'Nunito Sans', sans-serif;
  --play:'Play', sans-serif;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


body{
  background-color: black !important;
  color: white !important;
}

/* 
font-family: 'Architects Daughter', cursive;
font-family: 'Caveat', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Tapestry', cursive;
*/
a:hover {
    /* color: #0a58ca; */
    color: var(--bl);
}

.insta :hover{
 color: var(--main-colo) !important;
 transform: translateY(2px);
}

.twit :hover{
  color:var(--primary);
  transform: translateY(2px);
}

.linke :hover{
  transform: translateY(2px);
  color:var(--col-blue)
}

.git :hover{
  color:var(--footer-bg);
  transform: translateY(2px);
}

@media (max-width:1500px) {
.home{
  display: flex !important;
  flex-direction: column-reverse !important;
  /* margin:'0px'!important; */
  justify-content: center !important;
  align-items: center !important;
  margin: auto !important;
}
.ab{
  flex-direction: column !important;
}
.heading{
  margin-top: 5% !important;
}
.home .image{
  max-width: 66.66%;
}
}

@media (max-width:700px) {
  .profile{
    height: 300px !important;
    /* width: 500px; */
  }
  .heading{
    margin-top: 10px;
    margin-left: auto !important;
  }
  .heading h3{
    font-size: 45px;
  }
  .heading h2{
    font-size: 40px;
  }
  .project{
    width: 300px;
    height: 170px;
  }
}

@media (max-width:500px) {
  .all_project{
    font-size: 18px !important;
  }
  .footer{
    width: 300px !important;
    margin-left: 10% !important;
  }
  .foot{
    width:300px;
    margin: auto;
  }
  .card_1{
    width: 250px !important;
  }
  .social-icons{
    left:50% !important;
  }
  .card{
    width:300px !important;
  }
}